LXF271-ExplorerHATExperiments.json
[{"id":"13526c0b.d566e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1be29c0.02dda8","type":"rpi-explorerhat out","z":"13526c0b.d566e4","name":"","x":890,"y":100,"wires":[]},{"id":"817f2764.4b6618","type":"ui_switch","z":"13526c0b.d566e4","name":"","label":"Blue LED","tooltip":"","group":"802250ee.66d35","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"light.blue","style":"","onvalue":true,"onvalueType":"num","onicon":"","oncolor":"","offvalue":false,"offvalueType":"num","officon":"","offcolor":"","x":500,"y":60,"wires":[["b1be29c0.02dda8"]]},{"id":"e8fc982c.907ec8","type":"inject","z":"13526c0b.d566e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":60,"wires":[["817f2764.4b6618","c9ddbcf0.e8155","6e1ced9a.b25054","7e59628.987419c"]]},{"id":"c9ddbcf0.e8155","type":"ui_switch","z":"13526c0b.d566e4","name":"","label":"Yellow LED","tooltip":"","group":"802250ee.66d35","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"light.yellow","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":490,"y":120,"wires":[["b1be29c0.02dda8"]]},{"id":"a3745b38.532a18","type":"rpi-explorerhat in","z":"13526c0b.d566e4","name":"","touch":true,"input":false,"analog":true,"x":270,"y":500,"wires":[["ce1e5738.013478"]]},{"id":"ce1e5738.013478","type":"switch","z":"13526c0b.d566e4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"explorerhat/touch.1","vt":"str"},{"t":"eq","v":"explorerhat/touch.2","vt":"str"},{"t":"eq","v":"explorerhat/touch.3","vt":"str"},{"t":"eq","v":"explorerhat/touch.4","vt":"str"},{"t":"eq","v":"explorerhat/touch.5","vt":"str"},{"t":"eq","v":"explorerhat/analog.0","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":460,"y":500,"wires":[["1d0ff53c.8ed15b"],["9eb022cd.bf6e9"],["c61391a5.18603"],["5ec8c718.9a3788"],["b2b65839.4af9a8"],["305b1ff.e238ee"]]},{"id":"498db6e.d141b48","type":"ui_gauge","z":"13526c0b.d566e4","name":"","group":"802250ee.66d35","order":2,"width":0,"height":0,"gtype":"gage","title":"Button Press","label":"units","format":"Button","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":460,"wires":[]},{"id":"b2b65839.4af9a8","type":"change","z":"13526c0b.d566e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Button 5 has been pressed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":540,"wires":[["832ac4ee.f92858"]]},{"id":"989ff354.aa267","type":"ui_audio","z":"13526c0b.d566e4","name":"","group":"802250ee.66d35","voice":"Google UK English Female","always":true,"x":1100,"y":540,"wires":[]},{"id":"832ac4ee.f92858","type":"delay","z":"13526c0b.d566e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":910,"y":540,"wires":[["989ff354.aa267"]]},{"id":"99f929ff.62c428","type":"ui_chart","z":"13526c0b.d566e4","name":"","group":"802250ee.66d35","order":3,"width":0,"height":0,"label":"Voltages over time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":600,"wires":[[]]},{"id":"305b1ff.e238ee","type":"delay","z":"13526c0b.d566e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":600,"wires":[["99f929ff.62c428"]]},{"id":"6e1ced9a.b25054","type":"ui_slider","z":"13526c0b.d566e4","name":"","label":"Motor 1","tooltip":"","group":"802250ee.66d35","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"motor.1","min":"-100","max":"100","step":1,"x":440,"y":300,"wires":[["b1be29c0.02dda8"]]},{"id":"7e59628.987419c","type":"ui_button","z":"13526c0b.d566e4","name":"","group":"802250ee.66d35","order":5,"width":0,"height":0,"passthru":false,"label":"STOP!","tooltip":"","color":"255,000,000","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"motor.1","x":210,"y":300,"wires":[["b1be29c0.02dda8","6e1ced9a.b25054"]]},{"id":"1d0ff53c.8ed15b","type":"change","z":"13526c0b.d566e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":380,"wires":[["498db6e.d141b48"]]},{"id":"9eb022cd.bf6e9","type":"change","z":"13526c0b.d566e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["498db6e.d141b48"]]},{"id":"c61391a5.18603","type":"change","z":"13526c0b.d566e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":460,"wires":[["498db6e.d141b48"]]},{"id":"5ec8c718.9a3788","type":"change","z":"13526c0b.d566e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[["498db6e.d141b48"]]},{"id":"802250ee.66d35","type":"ui_group","z":"","name":"Explorer HAT","tab":"83ed9997.71a608","order":2,"disp":true,"width":"6","collapse":false},{"id":"83ed9997.71a608","type":"ui_tab","z":"","name":"Explorer HAT Experiments","icon":"dashboard","disabled":false,"hidden":false}]